.dialog-title {
    text-align: center;
  }
  
  .dialog-content {
    text-align: center;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;
  }
  
  .delete-button {
    background-color: #ff6961; /* Red color */
    color: white;
  }
  
  .cancel-button {
    color: #007bff; /* Blue color */
  }
  